.travel-background {
    background-size: cover;
    background-image: url("/public/assets/images/beach.png");

}


.best-offers p {
    font-size: 32px;
    color: #7A7A7A;
    letter-spacing: 0.42px;
}


.best-offers-title {
    padding: 2% 16%;
}

.travel-card-image{
    height: 250px;
}

.travel-card-details {
    background-color: #274073;
    color: white;
    width: 100%;
    padding: 2px;
}

.best-offer{
    transition: .3s;

}
.best-offer:hover{
    scale: 1.02;
}
.travel-card-details .row{
    align-items: center;
    height: 230px;
}

#best-offers-middle .travel-card-details {
    background-color: #4AA2D9;
}
.travel-card-details h4{
    color: white;
}
.travel-card-details a{
    transition: bottom 0.2s ease;
    position: relative;
    bottom: 0px;
}
.travel-card-details a:hover{
    bottom: 4px;
    text-decoration: none;
}
.red-button:hover{
    box-shadow: #274073 0px 0px 8px;
    border: 1px solid #d3d5d891;
}

.travel-card-details p {
    font-size: 24px;
    color: white;
    margin: 0px 2px;
    padding: 2px;
    font-weight: normal;
}

.travel-card-details-left {
    border-right: 1px white solid;
    margin: 21px 0px;
}

.travel-card-details-right {
    margin: 21px 0px;
}

.what-do-we-do {
    background-color: white;
    margin: auto 10%;
    align-items: center;
    padding: 4% 16%;
}

#what-do-we-do-header {
    color: #D91438;
    font-weight: normal;
}

.what-do-we-do :nth-child(2) {
    margin: 46px auto;
}

.packages-for-everyone {
    margin: 40px auto;
    background-color: white;
}

.packages-for-everyone h4 {
    margin: 22px;
}

.packages-for-everyone p {
    font-size: 24px;
    color: #7A7A7A;
    font-weight: 100;
    letter-spacing: 0.5px;
    text-align: right;
    margin: 10px;
}
.packages-for-everyone .small-red-button{
    margin: 20px 10px;
}

.packages-for-everyone .col-md-6 {
    padding: 0px;
}

@media (max-width:768px) {
    .best-offers p {
        font-size: 16px;
    }

    .services img {
        width: 40px;
        height: 40px;
    }


    .best-offers img {
        height: 400px;
    }

    .best-offer {
        margin-top: 20px;
    }

    .what-do-we-do {
        margin: auto;
    }

    .what-do-we-do :nth-child(2) {
        margin: 20px auto;
    }
    .packages-for-everyone p{
        font-size: 16px;
    }

}

@media (max-width:425px) {

    .travel-card-details-right {
        border-bottom: 1px solid white;
        margin: 5px 0px;

    }
    .travel-card-details-left {
        margin: 5px 0px;
    }
    
    

}