.contact-us  {
    margin: 40px;
    padding: 0px 80px;
  }
  
  .contact-us  input {
    display: block;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid;
    color: #274073;
    font-size: 20px;
    width: 100%;
    text-align: right;
    transition: 0.5s;
  }
  
  .contact-us  input:hover {
    box-shadow: #274073 0px 0px 8px;
  }
  
  .contact-us  h6 {
    text-align: right;
    color: #274073;
  }
  
  .contact-us  textarea {
    width: 100%;
    height: 190px;
    text-align: right;
    transition: .5s;
    padding: 5px; 
  }
  
  .contact-us  input[type="submit"] {
    background-color: #274073;
    color: white;
    width: auto;
    padding: 10px 40px;
    display: flex;
    align-items: center;
  }
  
  .contact-us  textarea:hover {
    box-shadow: #274073 0px 0px 8px;
  }
  
  .contact-us iframe{
      width: 100%;
      height: 450px;
  }
  .contact-us h4{
      text-align: right;
      color: #274073;
      margin: 20px;
  }


  @media (max-width: 768px) {
    .contact-us{
      margin: 0px;
      padding: 0px;
      
    }
  }