* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: 'Tajawal';
    text-align: center;
}
body{
    background-color: #F7F9FA;

}

.sticky {
    position: fixed;
    top: 0;
  }